@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<figure>
    <figcaption>Painting of the author by his mum.</figcaption>
    <img src="~/images/Author.jpg" style="width:25%;height:25%;" />
</figure>