@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<figure>
    <img src="~/images/Author.jpg" />
    <figcaption>Painting of the author by his mum.</figcaption>
</figure>